version: '3'

services:
  zine-generator:
    image: zine-generator:build
    restart: always
    environment:
      NODE_ENV: development
  test:
    image: int-test:build
    depends_on:
      - zine-generator
    restart: "no"
    environment:
      BASE_URL: "http://zine-generator:3000"
